{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Магазин бытовой техники{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <a href="/" class="logo">Магазин доставки еды</a>
    </div>
    <div id="subheader">     
			 {% if request.user.is_authenticated %}
			 <p>Вы авторизованы как <b>{{ user.get_full_name }}</b> (<a href="{% url 'deliveryfood:logout' %}">Выход из профиля</a>)</p>
			 
			 {% else %}
			 <div class="login">
			 <a href="{% url 'deliveryfood:login' %}">Вход в профиль</a>
			 {% endif %}
			</div>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>